
.fieldsethidden{
    display:none;
    border: none;
}
.fieldset{
    border: none;
    padding:3rem 1rem;
}
.fieldset .topdescription{
    padding: .5rem 0 0.5rem 0;
}
.fieldset section{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem 0 0 0;
}
.fieldset label{
    border: 1px solid var(--Coolgray);
    padding: 0.75rem 0.75rem;
    background-color: var(--White);
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    gap: 0.85rem;
}
.fieldset label h4{
    color: var(--Marineblue);
}
.fieldset label .leftcontainer{
    display: flex;
    align-items: center;
    gap: 0.75rem;
}
.fieldset label .info{
    display: flex;
    flex-direction: column;
    gap: 0.15rem;
    font-size: clamp(0.75rem,3vw,1rem);
}
.fieldset label .pricing{
    display: flex;
    align-items: center;
    font-size: clamp(0.75rem,3vw,1rem);
}
.fieldset label .pricing{
    color: var(--Purplishblue);
}
.fieldset section .checkedones{
    border: 1px solid var(--Purplishblue);
    background-color: hsl(228, 100%, 84%,0.3);
}
.input:checked{
    background-color: var(--Purplishblue);
    font-size: 4rem;
}