
/* Global for all the child components */
/* form container for all the steps 1 - 4 */
.mainContainer{
    background-color: var(--White);
    border-radius: 20px;
    width: 90%;
    max-width: 500px;
    box-shadow: 0px 0px 20px -8px var(--Coolgray);
    margin: auto;
    grid-row: 2/5;
    grid-column: 1;
}
/* navigation */
.aside{
    grid-row: 1/3;
    grid-column: 1;
}
/* Main heading on all sections */
.header{
    color: var(--Marineblue);
    font-size: 40px;
}
/* Sub heading for all sections */
.subtext{
    color: var(--Coolgray);
}

/* main container */
.form{
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: auto;
    align-items: center;
}


@media screen and (min-width:768px) {
    .form{
        padding: 1rem;
        flex-direction: row;
        background-color: var(--White);
        grid-template-columns: max-content auto;
        grid-template-rows: auto auto;
        width: 750px;
        border-radius: 20px;
        box-shadow: 0px 0px 20px -8px var(--Coolgray);
    }
    .mainContainer{
        background-color: var(--White);
        width: 100%;
        max-width: 100%;
        border-radius: 0;
        box-shadow: none;
        grid-column: 2/3;
        grid-row: 1/2;
    }
}