.mainContainer{
    background-color: var(--White);
    border-radius: 20px;
    margin: 0 1rem;
    max-width: 500px;
    box-shadow: 0px 0px 20px -8px var(--Coolgray);
}
.header{
    color: var(--Marineblue);
    font-size: 40px;
}
.subtext{
    color: var(--Coolgray);
}